.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: map-get($spacing, "lg");
  margin: 0 auto;
  padding: map-get($spacing, "md") 0;

  &__logo {
    color: var(--accent);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: map-get($spacing, "md");
  }

  &__item {
    color: var(--text-secondary);
    transition: color 0.1s ease-in-out;

    &:hover {
      color: var(--link-hover);
    }
  }

  &__link {
    // Estilos para los enlaces
  }

  &__theme-switcher {
    display: flex;
    align-items: center;
    background-color: var(--bg-box);
    padding: map-get($spacing, "sm");
    border: 1px solid var(--bg-box);
    border-radius: map-get($border-radius, "md");
  }

  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav__icon {
      color: var(--text-secondary);
    }
  }
}
